/*
 * Dynamic display block module template (Drupal 7): upright40p - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology, 2011. All rights reserved.
 * Version 1.0 ( 21-JAN-2011 )
 * Licenced under GPL license
 * http://www.gnu.org/licenses/gpl.html
 */
 
 
.background-blue {
  	/*background-image: url("images/banner-background.jpg");
	background-image: url("images/top-blue-banner.png");*/
	background:transparent url(../../../../images/top_blue_banner.png) repeat-x 0px 0px;
  	width: 100%;
    position: relative;
    /*z-index: -999;*/
}

.text_prev{
	float: left;
	width: 30%;
	padding-left: 10px;
	padding-top: 4px;
	margin-top: 15px;
}
.text_next{
	float: right;
	width: 30%;
	padding-right: 10px;
	padding-top: 4px;
 	margin-top: 15px;
}

.next_prev {
	width: 100%;
}
.main_slide_text {
	height: 301px;
	background:transparent url(images/banner-background.jpg) no-repeat scroll -325px -100px!important;
}

.navigation_block_title {
	font-size: 1.2em;
   	margin-bottom: 4px;
   	font-family: 'latoreg', Arial, Helvetica, sans-serif;
}
.current_slider_body {
	/*font-size:15px;*/
  color:#FFFFFF;
}

.round_block_box {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	width: 100%;
}

.current_slider_read_more {
    background: url("images/read-more-button-background.png") no-repeat scroll 0 0 transparent;
    color: #555444;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    margin-top: 14px;
    padding-top: 10px;
    text-align: center;
    width: 131px;
    font-family: Rokkitt;
    font-weight: bold;
    font-size: 16px;
}
.round-block {
	background: url(images/our-products.png);
  	background-size:86% 85%;
  	background-repeat:no-repeat;
  	opacity:1;
  	z-index: 999;
}

.slider_text_content {
	margin-left: auto;
	margin-right: auto;
	width: 64%;
	/*padding-top:80px;*/
}

.our_products_slider_title{
 	color: white;
 	font-size: 18px;
 	padding-left: 52px;
 	padding-top: 70px;
 	font-weight: bold;
 	font-family: "Lato", Arial, Helvetica, Garuda, sans-serif; letter-spacing: 0.03em;
}
.our_products_slider_body {
	padding-left: 52px;
  	color: #EEE;
  	font-size: 11px;
  	width: 150px;
  	overflow: hidden;
  	height: 42px;
  	text-align: center;
  	margin-top: 8px;
  	margin-bottom: 2px;
  	line-height: 1.3em;
}

.current_slider_title{
	/*font-size:25px;*/
	color:#FFFFFF;
	font-weight:bold;
	font-family: "Lato", Arial, Helvetica, Garuda, sans-serif; letter-spacing: 0.03em;
}

.current_slider_counter {
	/*font-size:97px;*/
	color:#FFFFFF;
	float:left;	
	/*padding-right: 20px;
	margin-top: -26px;*/
	position: relative;	
}

.navigation_block_image {
	float:left;
	padding-right:10px;
	padding-bottom:30px;
}
.round-block-center	{ 
  	height: 291px;
  	position: relative;
  	left: 37%;
	width: 291px;
  	/*z-index: 100;*/
  	/*margin-top: -188px;*/
  	margin-top: -195px;
  	margin-bottom: -104px;
}
div.ddblock-cycle-upright30p div.container{background-color:none;width:100%;}
div.ddblock-cycle-upright30p div.container-inner{position:relative;}
div.ddblock-cycle-upright30p div.slider{max-width:955px; width: 100% !important; margin-left:auto; margin-right:auto;}
div.ddblock-cycle-upright30p div.slider-inner{/*background:transparent url(images/transparent_bg.png) repeat scroll 0 0!important;*/background: none !important;/*height:355px;*/ overflow:hidden;position:relative;visibility:hidden;}
div.ddblock-cycle-upright30p div.slide{max-width:955px; width: 100% !important; display:none;height:100%;left:0;position:absolute;top:0;}
div.ddblock-cycle-upright30p div.slide-inner img{/*height:342px;*/
margin:0 !important;padding:0 !important;/*width:646px;*/  width: auto; /*border:7px solid #FFFFFF;*/}
div.ddblock-cycle-upright30p div.slide-text{/*background:transparent url(images/transparent_bg.png) repeat scroll 0 0!important;*/
background: none;
position:absolute;}
div.ddblock-cycle-upright30p div.slide-text-horizontal{height:85px;left:0;width:475px;}
div.ddblock-cycle-upright30p div.slide-text-vertical{height:350px;width:140px;}
div.ddblock-cycle-upright30p div.slide-text-top{top:7px;}
div.ddblock-cycle-upright30p div.slide-text-right{bottom:0;right:30px; display:none}

div.ddblock-cycle-upright30p div.slide-text-left{bottom:0;left:30px;}
div.ddblock-cycle-upright30p div.slide-text-inner{padding:10px;}
div.ddblock-cycle-upright30p div.slide-title{float:left;}
div.ddblock-cycle-upright30p div.slide-title-vertical{width:130px;}
div.ddblock-cycle-upright30p div.slide-title-horizontal{float:left;width:158px;}
div.ddblock-cycle-upright30p div.slide-title h2{color:#fff!important;margin:-5px 0 0 0;padding:0;}
div.ddblock-cycle-upright30p div.slide-title h2 a{color:#fff!important;text-decoration:none;}
div.ddblock-cycle-upright30p div.slide-title-inner{color:white;font-weight:bold;}
div.ddblock-cycle-upright30p div.slide-body-vertical{width:132px;}
div.ddblock-cycle-upright30p div.slide-body-horizontal{float:left;width:290px;}
div.ddblock-cycle-upright30p div.slide-body-inner{color:white;}
div.ddblock-cycle-upright30p div.slide-body-inner p{margin:0 8px 0 0;padding:0;}
div.ddblock-cycle-upright30p div.slide-read-more{width:110px;}
div.ddblock-cycle-upright30p div.slide-read-more p{padding:0;margin:0;}
div.ddblock-cycle-upright30p div.slide-read-more a{background:url(images/readmore.png) no-repeat;border:none;bottom:5px;color:#fff;font-size:14px;font-family:times New Roman;margin:0;padding:4px 0 4px 19px;position:absolute;text-decoration:none;text-align:left;width:100px;}
div.ddblock-cycle-upright30p div.slide-read-more-horizontal a{right:-17px;}
div.ddblock-cycle-upright30p div.slide-read-more-vertical a{right:5px;}
div.ddblock-cycle-upright30p div.slide-read-more a:hover{background:url(images/readmore-hover.png) no-repeat;text-decoration:underline;}
div.ddblock-cycle-upright30p div.slide-read-more-horizontal a:hover{right:-17px;}
div.ddblock-cycle-upright30p div.slide-read-more-vertical a:hover{right:5px;}
div.ddblock-cycle-upright30p div.custom-pager{float:left;}
div.ddblock-cycle-upright30p div.custom-pager-inner{height:50px; /*padding-left: 30px;*/ padding-left: 4px;}
div.ddblock-cycle-upright30p div.custom-pager .custom-pager-item{width:100%}
/*div.ddblock-cycle-upright30p div.custom-pager .custom-pager-item-inner{width:275px;}*/
div.ddblock-cycle-upright30p div.custom-pager a{/*background-color:#fff;*/
background: url("../../../../images/food_menu_normal.png") no-repeat scroll 0 0 transparent; 
background-size: 295px 55px;
color:#000;display:block;float:left;font-family:Gudea,Arial,sans-serif;font-size:20px;
font-weight:bold;height:55px;line-height:53px;opacity:0.7;text-align:left;text-decoration:none; padding-left: 35px; padding-right: 07px; min-width:260px; /*border-bottom: 3px solid #CCC; border-right: 3px solid #CCC;*/
margin: 3px; text-transform:uppercase; }

div.ddblock-cycle-upright30p div.custom-pager a.activeSlide{/*background-color:#000;*/
background: url("../../../../images/food_menu_active.png") no-repeat scroll 0 0 transparent; 
background-size: 295px 55px !important;
height: 55px; color:#fff;opacity:1;}

div.ddblock-cycle-upright30p div.custom-pager a.activeSlide:hover{
background: url("../../../../images/food_menu_active.png") no-repeat scroll 0 0 transparent !important; 
background-size: 295px 55px !important;
height: 55px; color:#fff;opacity:1;
}

div.ddblock-cycle-upright30p div.custom-pager a:hover{/*background:#fff;*/ background: url("../../../../images/food_menu_normal.png") no-repeat scroll 0 0 transparent; background-size: 295px 55px; color:#404040;opacity:1;}
div.ddblock-cycle-upright30p div.custom-pager a:focus{outline:none;}
div.ddblock-cycle-upright30p div.custom-pager img{border:none;height:40px;margin:0 !important;padding:0 !important;vertical-align:middle;width:260px;}
/********************* previous next pager on slide **********************/
div.ddblock-cycle-upright30p div.pager-slide{
  height: 50px;
  position: absolute;
  top:155px;
  width:50px;
  z-index:50;
  float: right;
}
div.ddblock-cycle-upright30p div.pager-slide a{
  display:block;
  height:58px;
}

div.ddblock-cycle-upright30p div.next-container a.next {
  /*background: url(images/next.png) no-repeat;*/
  background: url(images/slider-right-arrow.png) no-repeat;
  opacity:1;
   width: 40px !important;
}
div.ddblock-cycle-upright30p div.prev-container a.prev {
  /*background: url(images/prev.png) no-repeat;*/
  background: url(images/slider-left-arrow.png) no-repeat;
  opacity:1;
}

div.ddblock-cycle-upright30p div.next-container a.next:hover{
  /*background: url(images/next.png) no-repeat;*/
  background: url(images/slider-right-arrow.png) no-repeat;
  opacity:1;
}
div.ddblock-cycle-upright30p div.prev-container a.prev:hover{
/*  background: url(images/prev.png) no-repeat;*/
  background: url(images/slider-left-arrow.png) no-repeat;
  opacity:1;
}
div.ddblock-cycle-upright30p div.pager-slide a:focus{
  outline:none;
} 
/********************* previous next pager on slide **********************/
div.ddblock-cycle-upright30p div.prev-container{
  left: auto !important;
}

div.block-ddblock div.next-container{
  float: right !important;
  left: auto !important;
  right: 0;
  width: 40px !important;
}
