
/*** For Sucky Browsers (all versions of IE) ***/

/* stupid IE6 HasLayout hack */
/*
#ContentPanel { zoom: 1; }
.cluetip-skinned #cluetip-title, .cluetip-skinned #cluetip-inner { zoom: 1; }
*/

/***************** START:user access key page css **********************/
/*
.access-key-details-table-col input.textInput {
  display: block;
  margin-top: 1px !important;
}

.access-key-details-table-col .unite_link {  
  padding-left: 10px !important;
  padding-right: 10px !important;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 4px; 
  text-align: center;
  width: auto !important; 
}

.dashboard-content-region{
  width: auto !important;
}

.system_token_row .ajax_div {
  margin-top: 22px;
  margin-bottom: 10px;
  height: auto !important;
}

.access-key-details TH {
  padding-right: 2px !important;
}
*/
/***************** end:user access key page css **********************/
/*
.no-of-daily-views .transfer-slider.container-inline{
  background: url("../images/price_calculator/no-of-daily-views.png") #F5F5F5 no-repeat 13px 17px !important;
  padding-top: 17px !important;
}

.no-of-daily-requests .transfer-slider.container-inline{
  background: url("../images/price_calculator/no-of-daily-requests.png") #F5F5F5 no-repeat 13px 17px !important;
  padding-top: 17px !important;
}

.no-of-daily-indexed-pages .transfer-slider.container-inline{
  background: url("../images/price_calculator/no-of-daily-changes.png") #F5F5F5 no-repeat 13px 17px !important;
  padding-top: 17px !important;
}

.size-of-daily-indexed-pages .transfer-slider.container-inline{
  background: url("../images/price_calculator/size-of-daily-indexed-pages.png") #F5F5F5 no-repeat 13px 17px !important;
  padding-top: 17px !important;
}

.no-of-daily-indexed-attachments .transfer-slider.container-inline{
  background: url("../images/price_calculator/no-of-daily-indexed-attachments.png") #F5F5F5 no-repeat 13px 17px !important;
  padding-top: 17px !important;
}

.size-of-daily-indexed-attachments .transfer-slider.container-inline{
  background: url("../images/price_calculator/no-of-daily-indexed-attachments.png") #F5F5F5 no-repeat 13px 17px !important;
  padding-top: 17px !important;
}

.no-of-batch-per-day .transfer-slider.container-inline{
  background: url("../images/price_calculator/no-of-batches-per-day.png") #F5F5F5 no-repeat 13px 17px !important;
  padding-top: 17px !important;
}
.transfer-slider .transfer-slider-container {
    border-radius: 0 0 0 0 !important;
    margin: 10px 20px 10px 15px;
    width: 551px;
}
.ui-slider-horizontal .ui-slider-handle{
  margin-left: -15px;
}
.transfer-slider.container-inline .slider_title{
  margin-left: 10px !important;
}
*/

/* ------Primary Menu Navigation-------- */
#MenuWrapper_full_width{
  background: none repeat scroll 0 0 #111111 !important;
  filter: alpha(opacity=50) !important; 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8*/
}

div.ddblock-cycle-upright40p div.custom-pager{
  padding-top: 80px !important;
}

button.btn span {
  margin-top: 0px !important;
}

.manage_setting_buttons button.btn {
  background: url("../images/button-background.png") no-repeat scroll right -40px transparent !important;
}

.view-services-view img, .content-two-thirds .views-field-field-image img {
  width: auto !important;
}

.vertical-tabs ul.vertical-tabs-list {
  float: left !important;
  position: relative !important;
}

.vertical-tabs ul.vertical-tabs-list li {
  border: 1px solid #cccccc;
  border-right-width: 0px !important;
  margin-left: 0px !important;
  background-image: none !important;
}

fieldset#dashboard_user_info {
  padding-top: 0px !important;
}

.vertical-tabs-panes #add-another-a12index-server .padding_right {
  margin-right: 10px !important;
}

#a12-indexes-server-information-form .padding_right .form-type-textfield input {
  width: 176px !important;
}

#configure_access_key .select-all {
  padding-left: 7px !important;
}	

.vertical-tabs .vertical-tabs-panes {
  padding-top: 10px !important;
}

#a12-indexes-server-information-form input.form-checkbox {
  position: relative;
  top: 2px;
}

.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 0px 1em !important;
}

.page-a12-indexes-manage-indexes .content-two-thirds table .sticky-enabled td {
  padding-left: 2px !important;
}

.page-a12-indexes-manage-indexes .content-two-thirds #a12-indexes-server-information-form table th.select-all {
  padding-left: 7px !important;
}

.page-product-store .content-two-thirds #product-catalog-form .form-item-terms-check input {
  width: auto !important;	
}

.block-stay-connected {
  margin-top: -24% !important;
}

.vertical-tabs .vertical-tabs-panes fieldset span.fieldset-legend {
  display: none !important;
}

/*.sticky-enabled {
  margin-top: -20px;
}*/

.form-item-profile-personal-information-is-company-field-company {
  margin-top: 0 !important;
}

.page-user-access-keys .content-two-thirds #a12-indexes-access-key-settings-form table .select-all input {
  text-align: center !important;
}

input[type="submit"].origin-server-ajax-remove {
  height: 28px;
  line-height: 18px;
}

input[type="submit"] {
  padding-top: 3px;
}

.our_products_slider_title {
  padding-left: 72px !important;
  padding-top: 75px !important;
}

.our_products_slider_body {
  padding-left: 72px !important;
}

.round-block-center .play img {
  margin-left: 124px !important;
}

#update_fields_setting {    
  margin-left: -7px !important;   
}   
.form-item-profile-personal-information-field-postalcode-und-0-value{   
  margin-top: -1px !important;    
  padding-bottom: 2px !important;   
}
.password-strength{   
  margin-right: -28px;
}

div.ddblock-cycle-upright40p div.custom-pager {
  border-left: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
  max-width: 298px !important;
  min-width: 298px !important;

}

.page-a12-indexes-manage-indexes #index-details-table th, .page-a12-indexes-manage-indexes .sticky-table th, 
.page-user-access-keys #access-key-details-table th, .page-user-my-subscriptions .view-my-subscriptions th {
  border-bottom: 1px solid #CCCCCC;
}

.page-a12-indexes-manage-indexes #a12-indexes-server-information-form .sticky-table tr.selected td {
  background: none repeat scroll 0 0 transparent; 
}

.round-block-center {
  position: relative !important;
  left: 34.9% !important;
}

.loginForm h2 { margin-top:10px !important; padding-bottom:0px !important;}


