@CHARSET "UTF-8";

div.ddblock-cycle-upright40p div.custom-pager { 
  border-left: none;
  border-right: none;
}
.loginForm {
    margin-bottom: -30px !important;
    margin-top: -40px;
}

#MainMenuStack ul li.leaf {
	list-style-type: none !impoetant;
}
