@media screen  and (min-device-width : 320px) and (max-device-width : 480px) {
/* ----------- Menu Start ------------ */
/*.sf-menu li{
  width: 100%;
}*/
/* ----------- Menu End ------------ */

/* ----------- Black round box and secondary navigation Start ------------ */
.round_block_box {
  display: none;
}

.next_prev{
  display: none;
}

div.ddblock-cycle-upright30p div.slider-inner{
  height: 300px !important;
}
/* ----------- Black round box and secondary navigation End ------------ */

/* ----------- Our Latest Creation Start ------------ */
div.ddblock-cycle-upright40p div.custom-pager{
 float: none;
 margin-left: auto !important;
 margin-right: auto;
 margin-top: 185px;
 width: 100%;
 z-index: 1000;
 position: relative;
}

div.ddblock-cycle-upright40p div.slide-inner img{
	display: none;
}

div.ddblock-cycle-upright40p div.slider{
  margin-top: -150px;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

#Content .content-two-thirds{
  max-width: 100%;
}

div.ddblock-cycle-upright40p div.slider-inner{
   width: 100%;
}

div.block-ddblock div.slide-inner h2{
   width: 100% !important;
}

div.ddblock-cycle-upright40p div.slide-text-horizontal{
  width: 100% !important;
}

#Content .content-two-thirds .slider{
  background: none;
}
/* ----------- Our Latest Creation End ------------ */

/* ----------- Search and Newsletter Start ------------ */
.front #Content .content-one-third-left{
	max-width: 100%;
   background: none;
}

.front .search-block-form-other form, .front  .simplenews-block-form form{
   width: 100% !important;
}

.front .search-block-form-other form .form-submit, .front .simplenews-block-form form .form-submit{
	float: left;
	margin-left: 200px !important;
}
/* ----------- Search and Newsletter End ------------ */

/* ---------- Footer Some of our Latest News Start ----------- */
.view-some-of-our-latest-news .view-content table td{
	background: none !important;
	max-width: 100%;
	min-width: 100%;
	padding: 0 !important;
}

.view-some-of-our-latest-news .view-content table td.col-last{
	padding: 0 !important;
}
/* ---------- Footer Some of our Latest News End ----------- */

/* ---------- Footer Search and Career, ...  Start ----------- */
#Footer .footer-one-third.first, #Footer .footer-one-third.second{
  display: none !important;
}

#Footer .footer-one-third.third{
  background: none !important;
  max-width: 100%;
  min-width: 100%;
}

.on-map{
  float: left;
  position: relative;
  left: 34%;
}

#Footer .footer-one-third.third #block-block-36 p{
  float: left;
  position: absolute;
}
/* ---------- Footer Search and Career, ... End ----------- */
}


