@CHARSET "UTF-8";

#Footer, #Content, #Branding, #Footer_Top {
  margin: auto;
  max-width: 768px;
  width: 100% !important;
}

#Content .content-one-third-left{
  width: 100%;
  max-width: 236px;
  float: left;
  padding: 0px 10px 0px 10px;
}

#Content .content-one-third-right{
  width: 100%;
  max-width: 236px;
  float: left;
} 

#Content .content-two-thirds{
  width: 100%;
  max-width: 490px;
  float: left;  
  padding: 0px 10px;
}
.page-portfolio #Content .content-two-thirds,
.page-our-team #Content .content-two-thirds  { max-width:640px !important;}

/* ----------- Black round box and secondary navigation Start ------------ */
#header-wrapper,#Footer, #Content, #Branding, #Footer_Top, 
#content-wrapper, #footer-top-wrapper, #footer-wrapper,
#footer-bottom-wrapper {
  margin: auto;
  min-width: 768px;
  width: 100%;
}

.round_block_box {
  display: block;
  margin-top: 0;
}

.next_prev{
  display: block;
}

div.ddblock-cycle-upright30p div.slider-inner{
  height: 402px;
}
/* ----------- Black round box and secondary navigation End ------------ */

/* ----------- Search and Newsletter Start ------------ */
.front #Content .content-one-third-left{
  max-width: 235px;
  padding: 0px 10px;
  margin: 25px 0 20px;
}

.front .search-block-form-other form, .front  .simplenews-block-form form{
  width: 236px;
}

/* ----------- Search and Newsletter End ------------ */

/* ---------- Footer Some of our Latest News Start ----------- */
.view-some-of-our-latest-news .view-content table td.col-first {
  padding: 0px 8px 0px 0px !important;
} 
.view-some-of-our-latest-news .view-content table td{
  min-width: 240px;
  max-width: 240px; 
  display: block;
  float: left;
  padding: 0 8px;
}
.view-some-of-our-latest-news .view-content table td.col-last{
  padding: 0px 0px 0px 8px;
}
/* ---------- Footer Some of our Latest News End ----------- */

/* ---------- Footer Search and Career, ...  Start ----------- */

#Footer .footer-one-third { margin:35px 0px 20px 0px;}

#Footer .footer-one-third.first {
  display: block;
  max-width: 235px;
  min-width: 235px;
  width: 100%;
  padding: 0 10px 0px 10px;
  margin: 25px 0 20px;
}
#Footer .footer-one-third.second {
  display: block;
  max-width: 235px;
  min-width: 235px;
  width: 100%;
  padding: 0 10px 0px 10px;
  margin: 25px 0 20px;
}

#Footer .footer-one-third.third{  
  width: 100%; 
  float: left;  
  min-width: 229px;  
  max-width: 229px; 
  margin:25px 0px 20px 0px; 
  background: url('../images/footerBg-verticalRule.gif') repeat-y scroll 0 100% transparent !important;
  padding: 0 10px 0px 10px;
}
.footer-one-third .region .block { padding: 15px 0px 8px 0px; }

.block-get-in-touch {
  margin: 0px 13px;
}

#primary-menu-repeat {
  width:100%;
}

.bsiLogo {
  clear:both;
	padding-left:0em;
	width:auto;
}
.block-our-partners {
	float: left; 
	clear:none;
	padding: 0px 10px;
}


/*.block-stay-connected .social-links a img {
  width: 120px !important;
} */

.on-map{
  float: right;;
  left: auto;
}
/* ---------- Footer Search and Career, ... End ----------- */

#Content .content-two-thirds .region{
  padding-left: 0;
  padding-right: 0;
}

.samplesitestable .views-field-body{
  padding: 30px 25px;
  width: 89%;
}

/* Contact Form */
.content-two-thirds .form-item input{
  font-family: 'latolight', Arial, Helvetica, sans-serif;
  width: 90%;
}

/*.view-services-view img {
  width: 95% !important;
}*/

.front #Content .content-two-thirds {
  max-width: 235px;
  padding: 0px 10px;
  background: transparent url("../images/border_lines_front_tablet.gif") repeat-y 5px 0px;
}

.front #Content .content-one-third-right {
  max-width: 229px;
  padding: 0px 13px;
  margin: 25px 0 20px;
  background: transparent url("../images/border_lines_front_tablet.gif") repeat-y 0px 0px;
}

#Branding #MmOtherLinks li{
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background-image:none;
  height:28px;
  padding-right:10px;
  background: rgb(98,181,222); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(98,181,222,1) 0%, rgba(51,153,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,181,222,1)), color-stop(100%,rgba(51,153,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(98,181,222,1) 0%,rgba(51,153,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(98,181,222,1) 0%,rgba(51,153,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(98,181,222,1) 0%,rgba(51,153,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(98,181,222,1) 0%,rgba(51,153,204,1) 100%); /* W3C */
}
#MmOtherLinks .mmLogin {
  color:#FFFFFF;
  padding: 8px 5px 0px 15px;
  text-align:left;
}

#Logo img{ width: 75%;}
#Branding .mmLoginText { 
  font-size:1.3em;
  padding-top:47px;
  margin: 0px;
  clear:none;
}
#MenuWrapper_full_width{ 
  display:block;
}

#MainMenuStack{ 
  display:none;
}

.slider_text_content{ 
  padding-top: 80px;
}

.current_slider_counter{ 
  font-size:97px; 
  padding-right:20px; 
  width:auto;
}

.current_slider_title{ 
  font-size:25px;
}

.current_slider_body{ 
  font-size:15px;
}

.view-some-of-our-latest-news .view-content table td.col-first{ 
  background: url('../images/news-verticalRule.png') repeat-y scroll 100% 0 transparent;
}

.view-some-of-our-latest-news .view-content table td.col-last{ 
  background: url('../images/news-verticalRule.png') repeat-y scroll 0 100% transparent;
}

div.ddblock-cycle-upright40p div.custom-pager{ 
  background: url("../images/slider_border_left.png") repeat-y left, url("../images/slider_border_right.png") repeat-y right;
}

div.ddblock-cycle-upright40p div.custom-pager{
  max-width: 240px;
  min-width: 240px;
}

div.ddblock-cycle-upright40p div.custom-pager a{ 
  min-width:240px; 
  width:auto;
}

div.ddblock-cycle-upright40p div.custom-pager a.activeSlide{
  min-width:230px;
}

.loginForm .textInput{ 
  border: 1px solid #CCCCCC;
    -webkit-border-radius: 22px;
  border-radius: 22px; 
    height: 32px;
    padding: 0 10px 0 15px;
    width: 180px;
  background-image:none;
  color:#ABABAB;
  background-color:#FFF;
  margin-left:0px;
}

.m3{ 
  float:none;
  margin: -1px 0px 2px;
}

#stack{ 
  display:none;
}

.loginForm .noMargin{ 
  display:block;
}

.contentMax, .contentArea, #Showcase, #Slides{ 
  width:768px;
}

.clientFormTitle{ 
  margin-top: 20px;
}

.contentArea{ 
  padding-top: 10px;
}

#ContentPanel .closeBtn {
  margin: 10px; 
  height: 30px;
}

/*.samplesitestable .views-field-field-image{ 
  border:2px solid #D6D6D6;
}*/

#Content .content-one-third-right {  
  padding: 0 10px 0 10px;
}

h1.headline {  
  padding-left: 0;
}

.divider-image {
  height: 125px;
  min-height: auto;
  background-size: 100% 100%;
  margin-bottom: 20px;
}

.content-two-thirds .field-name-body #divider-icon p {  
  margin: 10px 0;
}

.content-two-thirds .field-name-body #divider-icon {  
  display: block;
}

.breadcrumb {  
  padding: 2px 0px 0px 1px;
}

#divider-icon { display:block;}

/*** Styles for A12 Find Features table ***/

#find-features th {
  border-left: 0px solid #FFFFFF !important;
}

#find-features th.last {
  padding-left:18px;
}

#find-features td {
  vertical-align: top;
}

#find-features .firstcell {
  font-size: 24px;
  text-shadow: 0 0 10px #FFFFFF;
  color: #006D9A;
}

#find-features-buttons {
  margin-top: 22px;
}

#find-features-buttons div {
  display: inline;
  width: 45%;
  margin-right: 20px;
}

#find-features-buttons div button {
  margin-left: 0px;
}

#find-features-buttons div p {
  color: #006D9A;
  text-shadow: none;
}

.page-a12-indexes-create-index #find-features-free-trial div p,
.page-user-create-secret-access-key #find-features-free-trial div p {
  margin-top: 6px;
}

.page-user-create-secret-access-key .form-item-user-system-token {
  margin-bottom: 40px;
}

.node-type-page #find-features-buttons div p {
  margin-top: 0px;
}

#find-features-free-trial {
  float: left;
}

#find-features-full-version {
  float: right;
}

.suporttable th { 
  text-align:center;
  vertical-align:top;
}

.suporttable td p, .suporttable th p{
  text-align: left;
}

.suporttable .tablehead .firstcell p{
  float:left;
}

.suporttable tr.tablehead th p {
  font-size: 15px;
}
/***********support-packages*************/
.support-packages .firstcell { 
  width:155px !important;
}
/***********training-main*************/
.training-main .firstcell { 
  width:95px !important;
}

.training-main .description { 
  width:195px !important;
}

.training-main .duration { 
  width:90px !important;
}

.training-main .dates { 
  width:105px !important;
}
/***********find*************/
.support_form_container button.btn span {
  font-size: 16px;
  padding: 10px 12px 0 22px !important;
}

.find {
  margin-top:10px;
  margin-bottom:10px;
}

.find .firstcell { 
  width:80px !important;
}

.find tr.tablehead th p {
  font-size: 23px;
}

.front #block-views-some-of-our-latest-news-block .view-header { margin-top: -26px;}

/*************** Main Content Search and Footer Block Start *******************/

.front form#search-block-form--2 {} /* front content */
form#search-block-form {} /* rightbar */
form#search-block-form--2 {} /* not front footer */
form#search-block-form--3 {} /* front footer */

.form-item-search-block-form {
  clear:left;
  display:block !important;
}
.form-item-search-block-form .form-text{
  width:146px;
  margin-top:10px;
  height: 36px;
  padding: 0px 65px 0px 15px;
}
form#search-block-form .form-item-search-block-form .form-text {
  width:118px;
}
form#search-block-form--2 .form-submit,
form#search-block-form--3 .form-submit {
  padding: 0px;
  position:absolute;
  top:67px;
  left:170px;
}
.front form#search-block-form--2 .form-submit {
  padding: 0px;
  position:absolute;
  top:67px;
  left:170px;
}
form#search-block-form .form-submit {
  padding: 0px;
  position:absolute;
  top:86px;
  left:142px;
}

/* end */

.region-sidebar-left h2, 
.region-sidebar-right h2,
.region-content h2 {
  font-size: 1.3em;
}
.region-sidebar-left h3, 
.region-sidebar-right h3,
.region-content h3 {
  font-size: 1.2em;
}

div.ddblock-cycle-upright40p a.slide_go_btn img {
  display: block;
  width: 50px !important;
  height: auto !important;
}

button.btn span {
   color:#FFFFFF;
  padding: 6px 5px 0px 15px;
  font-size:15px;
  text-transform:uppercase;
  display:inline-block;
}

#MainMenu {
  right: 40px !important;
}

.transfer-slider .transfer-slider-container { width: 441px;}

#a12-find-price-calculator-form .transfer-slider.container-inline {
  background-size: 442px 54px;
  padding-left: 22px;
}

.content-two-thirds .what-do-i-do-next .numbers img {
  width: 85px;
  height: auto;
  margin: 10px 5px 0 0;
}


.password-strength, div.password-confirm {
  float:right;
  margin-right: 47px;
  width: 175px;
}

.user-info-from-cookie .form-submit span, #user-account-a12-find-free-signup-sucessfull-form .form-submit span, 
#user-billing-info .form-submit.btn span {
  font-size:16px;
}
div.form-item div.password-suggestions, .content-two-thirds .form-item input#edit-name, .content-two-thirds .form-item input#edit-mail, .content-two-thirds .form-item input#edit-conf-mail {
  width:88%;
}

#edit-a12-find-free-signup-access-key label, #edit-a12-find-free-signup-index-key label, 
#edit-a12-find-free-signup-access-index-key label, #edit-a12-find-free-signup-index-activated label { 
  width: 88%;
}
#user-account-create-secret-access-key-form #edit-key-name, #user-account-create-secret-access-key-form #edit-user-system-token{
  width:70%;
}
#user-account-a12-find-free-signup-sucessfull-form button.btn {
  float: left;
}


#find-features-free-trial button.btn span, #find-features-full-version button.btn span, 
#user-account-create-secret-access-key-form .form-submit span {
  font-size:16px;
}

.my_subscriptions_views_field_note .unite_submit { width: 135px;}

.vertical-tabs .vertical-tabs-panes {
  width:auto;
}

.webform_pager{
  position: relative;
  right: 110px;
}

.form_completion_progress, .form_completion {
  margin-top: 22px;
  position: relative;  
  right: -68px;
}

#user-profile-form #edit-profile-personal-information-field-email-address label, 
#user-profile-form .form-item-profile-personal-information-is-company-company-registration-no label {
  width: 55%;
}  

.user-info-from-cookie button.btn {
  margin-right:1%;
}

#edit-a12-find-free-signup-access-key label, #edit-a12-find-free-signup-index-key label, #edit-a12-find-free-signup-access-index-key label, #edit-a12-find-free-signup-index-activated label{
  float: left;
  margin-right: 30px;
  width: 90%;
}

#user-profile-form #edit-actions{
 width:50% !important;
}

.page-user-user-info .avatar {
  margin-right: 30px;
}

 /* we're hiring form */
 
textarea#edit-submitted-explanation{ width:90%;}
.form-textarea-wrapper { width: 90%;}


/* Homepage - main img slider block */
.header_slider { background:transparent none repeat-x 0px 0px;}

#block-views-homepage-main-slider-block,
#block-views-homepage-services-bar-block { 
  max-width:740px; 
  min-width:740px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-clip-horizontal,
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-item {
  height: 205px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-item img { 
  max-width:740px; 
  height: 205px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-prev-horizontal {
    left: 0px;
    top: 0px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-next-horizontal {
    right: 0px;
    top: 0px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-next {
    height: 205px;
    width: 19px;
  background: #17A6E2 url(../images/slider-right-arrow.gif) no-repeat 3px 90px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-prev {
    height: 205px;
    width: 19px;
  background: #17A6E2 url(../images/slider-left-arrow.gif) no-repeat 3px 90px;
}
/************** homepage services bar (jcarousel) **************/

#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-container-horizontal {
    height: 58px;
    padding: 20px 10px;
}
#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item { 
  text-align:left; 
  height: 78px;
  font-size:12px;
}

#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item .views-field-title { clear:none;}
#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item .views-field-body { display:block;}
#block-views-homepage-services-bar-block .view-content .views-field-field-service-icon {
  float:left;
}
/* interum style. remove when new version added */
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url {
  padding:50px 0px 0px 100px;
  width:550px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url h2 a{
  font-size:1.4em;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .number {
  font-size: 3.5em;
  width:60px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .wrapper {
  width:400px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .wrapper p{
  margin-bottom:15px;
  font-size:14px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url a.page_link {
  margin-left:57px;
  font-size:14px;
}

/******* Homepage - client logos block *******/
#block-views-client-logos-homepage-block {
    margin: 0px 0px 20px 0px;
    max-width: 225px;
    min-width: 225px;
    padding: 0px 10px 0px 20px;
    width: 100%;
 }
#block-views-client-logos-homepage-block img {
  /*width: 100%;
  height:70px;  */
}

/******* Homepage - blogs block *******/
#block-views-latest-blog-block {
    margin: 0px 0px 20px 0px;
    max-width: 219px;
    min-width: 219px;
    padding: 0px 10px 0px 20px;
    width: 100%;
		clear:none;
 }

/* portfolio page view (samplesites) */

.view-id-samplesites ul li.views-row-4 { clear:none;}

.view-id-samplesites ul li.views-row-3,
.view-id-samplesites ul li.views-row-5,
.view-id-samplesites ul li.views-row-7,
.view-id-samplesites ul li.views-row-9,
.view-id-samplesites ul li.views-row-11  {
  clear:left;
}

/*-----------------------------Footer region-------------------------*/
#Footer h2 {  font-size:1.1em;}

/**************** services / gcloud services landing page *********************/

.servicesGrid .view-content .views-row .wrap { width:190px; }


/**************** team listing page *********************/

#team_listing .views-row {
  width: 300px; 
  float:left; 
  margin-right:20px;
  min-height:auto;
  position:relative;
}
#team_listing .views-row-odd { clear:left;}
#team_listing .views-row .teamwrap {  height:300px;}
#team_listing .views-row .teamwrap .body {  height:220px;}



/************** Portfolio item **************/

.portfolio_item .field-name-field-client { width:55%; margin-top:20px;}
.portfolio_item .field-name-field-technology,
.portfolio_item .field-name-field-project-date,
.portfolio_item .field-name-field-website-url,
.portfolio_item .field-name-field-other-text,
.portfolio_item .field-name-field-project-name { float:right; width:286px; }
