/*@media screen  and (min-device-width : 320px) and (max-device-width : 480px) {*/

/* ----------- Black round box and secondary navigation Start ------------ */
#header-wrapper, #Footer, #Content, #Branding, #Footer_Top, 
#content-wrapper, #footer-top-wrapper, #footer-wrapper,
#footer-bottom-wrapper {
  margin: auto;
  min-width: 315px;
  width: 100%;
  padding: 0;
}

.round_block_box {
  display: none;
}

.next_prev{
  display: none;
}

div.ddblock-cycle-upright30p div.slider-inner{
  height: 300px;
}
/* ----------- Black round box and secondary navigation End ------------ */

/* ----------- Search and Newsletter Start ------------ */
.front #Content .content-one-third-left{
  max-width: 300px;
  background: none;
  margin-right: 0;
  padding: 0px 10px 0px 10px;
}
/*.front .search-block-form-other form, .front  .simplenews-block-form form{
  width: 280px;
}*/

/* ----------- Search and Newsletter End ------------ */

/* ---------- Footer Some of our Latest News Start ----------- */
.view-some-of-our-latest-news .view-content table td{
  background: none ;
  max-width: 100%;
  /*min-width: 100%;*/
  padding: 0 ;
}

.view-some-of-our-latest-news .view-content table td.col-last{
  padding: 0 ;
}
/* ---------- Footer Some of our Latest News End ----------- */

/* ---------- Footer Search and Career, ...  Start ----------- */

#Footer .footer-one-third { margin:15px 0px 20px 0px;}

#Footer .footer-one-third.first, #Footer .footer-one-third.second{
  display: none ;
}

#Footer .footer-one-third.third{
  background: none ;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
}

.ribbon_new, .ribbon_new .wrapAround_new, .ribbon_new .tab_new {
  overflow:hidden;
}

#primary-menu-repeat {
  width:auto;
}
.bsiLogo {
  clear:both;
	width:auto;
}
.block-our-partners {
	float: left; 
	clear:both;
	padding: 0px 10px;
}


/* ---------- Footer Search and Career, ... End ----------- */
/*}*/

#Footer .footer-one-third.third .region {
  padding-left: 10px;
}

#Content .content-two-thirds .region {
  padding-left: 10px;
  padding-right: 10px;
}

/*.page-portfolio .content-two-thirds .views-field-field-image img {
  width: 92%;
  height:auto;
  padding:12px;
  background-color:white;
  margin-bottom:-5px;
}*/

/*.view-services-view img {
  width: 100%;
  height: auto;
}
*/
.content-two-thirds table {
  width: auto;
  margin-bottom:15px;
}

.samplesitestable .views-field-body {
  padding: 30px 22px;
  width: 84.5%;
}

.content-two-thirds .form-item input {
  width:80%;
}

.divider-image {
  background-size: 100% 100%;
}

#registration-beta-contents-form input {
  width: 90%;
}

.front #Content .content-two-thirds {
  max-width: 300px;
  background:none;
  margin-top:30px;
  padding: 0px 10px 0 10px;
}

.float_left {
  float:left;
}
.padding_right {
  margin-right: 12px;
}

.float_right {
  float:right;
}
.margin_top {
  margin-top:35px;
}
.footer-one-third .region .block { padding: 0px 0px 8px 0px; }

/******* Access Key's and Origin server *******/

#a12-indexes-server-information-form .form-item select {
  padding-top: 3px;
  padding-bottom: 3px;
}
#a12-indexes-server-information-form .form-item input {
  width: 170px;
}

.vertical-tabs ul.vertical-tabs-list {
  width: 115px;
  margin: 0px;
  z-index: 1;
}

.vertical-tabs ul.vertical-tabs-list li {
  background-color: #CCCCCC;
}

.vertical-tabs ul.vertical-tabs-list li a {
  color: #F0F0F0;
}

.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #F0F0F0;
  text-decoration: none;
  outline: none;
}

.vertical-tabs ul.vertical-tabs-list li.selected strong {
  color: #595959;
  text-decoration: none !important;
}

div.vertical-tabs {
  border: 0;
  margin: 10px 0 0 0;
}

.manage_setting_buttons {
  float: right;
}

.vertical-tabs .vertical-tabs-panes {
  padding: 10px 0px;
  /*float: left;*/
  background: none repeat scroll 0 0 #F0F0F0;
  border: 1px solid #CCCCCC;
  /*position: absolute;*/
  position: relative;																				
  margin-left: 114px;
  width: 504px;
}

#edit-access-key table.sticky-enabled {
  width: 100%;
}

#edit-access-key table.sticky-enabled th.select-all {
  width: 25px;
}

#edit-access-key table.sticky-enabled tr:last-child {
  border-bottom: 0;
}

#a12-indexes-server-information-form input.form-checkbox {
  width: auto;
}

input[type="submit"].origin-server-ajax-remove {
  background: none !important;
  background-color: #88CD45 !important;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  height: auto;
  line-height: 21px;
  margin-right: 0px;
  padding: 5px 3px !important;
  text-align: center;
  width: auto;
  margin-top: 36px;
  font-family: 'latoreg', Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  text-shadow: 0 0 3px #333333;
  font-size: 13px !important;
  border: 0;
  text-transform: capitalize;
}

input[type="submit"].origin-server-ajax-add-another {
  background: none !important;
  background-color: #88CD45 !important;
  border-radius: 5px 5px 5px 5px !important;
  color: #FFFFFF !important;
  height: auto !important;
  line-height: 21px !important;
  margin-right: 4px !important;
  padding: 6px 10px;
  text-align: center;
  width: auto !important;
  font-family: 'latoreg', Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  text-shadow: 0 0 3px #333333;
  font-size: 13px !important;
  border: 0;
  text-transform: none;
}
input[type="submit"].origin-server-ajax-remove:hover, input[type="submit"].origin-server-ajax-add-another:hover {
  background-color: #61A931 !important;
}

input[type="submit"].origin-server-ajax-remove:active, input[type="submit"].origin-server-ajax-add-another:active {
  background-color: #126A9D !important;
}

#index-details-table th {
}

.manage_add_remove_buttons {
  float: right;
  margin-top: 30px;
}

.manage_setting_buttons button.btn {
  background: url("../images/button-background.png") no-repeat scroll right -40px transparent !important;
}

.manage_add_remove_buttons .form-submit {
  margin-left: 25px;
}

.origin-server-ajax-save {    
  margin-top: 30px;    
  background: url("../images/icon-arrow.png") no-repeat scroll right 4px #5DB7F9 !important;    
  border: 0 none;    
  font-size: 16px !important;    
  outline: medium none;    
  padding: 0 40px 0 13px;    
}    

.manage_setting_buttons input.btn {    
  background: url("../images/icon-arrow.png") no-repeat scroll right 4px #5DB7F9 !important;    
  border: 0 none;    
  font-size: 16px !important;    
  margin-left: -6px;    
  margin-right: 5px;    
  outline: medium none;    
  padding: 1px 40px 0 13px;
  height: 34px;        
}

input[type="submit"] {
  background: url("../images/icon-arrow.png") no-repeat scroll right 4px #5DB7F9;
  border: 0 none;
  font-size: 16px;
  margin-right: 5px;
  outline: medium none;
  padding: 0 40px 0 15px;
  text-align: center;
  border-radius: 16px;
  height: 34px;
  color: #ffffff;
  cursor: pointer;  
  font-family: 'latoreg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

#a12-indexes-manage-index-form textarea{
  background:none repeat scroll 0 0 #FFFFFF;
}
.sf-menu ul, .sf-menu ul.sf-menu {
  z-index: 5000 !important;
  width:11em;
}

::-webkit-input-placeholder {
  color:#ABABAB;
}
input:-moz-placeholder {
  color:#ABABAB;
}
#MmOtherLinks { padding-top:0px;}

ul#MmOtherLinks {
  position: relative;
  margin-top: -60px;
  margin-right: 15px;
}

#Branding #MmOtherLinks li{
  width: auto;
  height: 22px;
  padding-top: 8px;
}

#MmOtherLinks .mmLogin{
  color:#006D9A;
  width: auto;
  padding-top: 0px;
}

#Branding .mmLoginText { 
  font-size:1em;
  padding-top:0px;
  margin: 0px 0px 0px 10px;
  clear:left;
}
#Logo img{
  width: 150px;
}
#MenuWrapper_full_width{
  display:none;
}
#MainMenuStack{
  display:block;
}

.slider_text_content{ padding-top: 25px;}
.current_slider_counter{ font-size:75px; padding-right:0px; width:100%; margin-top:-38px;}
.current_slider_title{ font-size:18px; margin-top:-15px; width:100%; float:left;}
.current_slider_body{ font-size:13px; width:100%; height: 185px;}

div.ddblock-cycle-upright40p div.custom-pager{ width: 100%;}
div.ddblock-cycle-upright40p div.custom-pager a{ width: 98.6%;}

.m3{ 
  margin: 3px 7px 0px 2px;
  float:right;
}
.contentArea{ 
  padding-top: 5px;
}
#ContentPanel .closeBtn {
  margin: 0px;
  height: 20px;
}

.loginForm{ 
  width:100%;
}

.loginForm .textInput{
  width:170px; 
  margin-left: -60px;
  color:#ABABAB;
  background-color:#FFF;
}
.loginForm .noMargin{ display:none}

#stack{
  margin-top: 40px;
  display:block; 
  margin-left: 13px;
}

.contentMax, .contentArea, #Showcase, #Slides{
  width:auto;
}

#Footer .footer-one-third .third{
  background:none;
}

#MainMenu {
  right: 10px !important;
}

#MainMenuStack ul.menu li a.active{
  background: none;
  border-bottom: 1px dotted #CCCCCC;
}

#MainMenuStack ul.menu li{ 
  background: none;
}

/*.samplesitestable .views-field-field-image{
  border: 2px solid #D6D6D6;
  width: 99%;
}*/

#Content .content-one-third-right { 
  padding: 0 20px;
}

h1.headline {
  padding-left: 10px;
}

.divider-image {
  height: auto;
  min-height: 70px;
  background-size: 100% 100%;
}

.content-two-thirds .field-name-body #divider-icon {
  display: none;
}

.content-two-thirds .field-name-body #divider-icon p {
  margin: 0;
}

.breadcrumb {
  padding: 2px 0px 0px 10px;
}

div.ddblock-cycle-upright40p div.custom-pager h2 { 
  margin-top:60px !important;
  margin-bottom:20px;
}

#find-features-buttons div {
  display: block;
  width: 100%;
  margin-right: 0px;
}

#find-features-full-version {
  float: left;
}

#find-features-free-trial p, #find-features-full-version p { 
  text-align: center;
}

/***************** Table css***************/

/*** Styles for support page table - Added by Param on 080411  ***/
table.suporttable {
  width:100%;
  table-layout: auto;
}
.suporttable, .suporttable:hover {
    background:#E3E3E3;
    border-radius: 8px;
}
.suporttable tbody { 
  border-top:none!important; 
}
.suporttable tr {
  background: none;
}
.suporttable tr th { 
  background:#666666; 
  border-bottom:none!important;
  color: #FFFFFF; 
  border-left: 1px solid #FFFFFF;
}
.suporttable tr th.first, 
.suporttable tr.tablehead:hover th.first {
  background: #666666;
  border-left: 0px solid #FFFFFF;
  font-size: 13px;
}

.suporttable tr td {
  border-collapse: collapse;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;

}
.suporttable tr td.firstcell {
  border-left: 0px solid #FFFFFF;
  max-width: 52px;
  min-width: 40px;
  background-color:#d6e7f7;
}
.suporttable tr.tablehead th p {
  margin-top: 3px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 12px;
}

.suporttable p {
  white-space:normal !important;
}

.suporttable th, .suporttable td {
  width:auto;
  padding:0;
}

.suporttable td p, .suporttable th p{
  text-align:left;
  padding-left:3px;
  padding-right:3px;
}

.find {
  margin-bottom:10px;
}

.find tr.tablehead th p {
  font-size: 15px;
}

.find tr.tablehead th p, .find td.firstcell p {
  text-align:center;
}

#find-features-title li {
  margin-left: 0px;
}
.support_form_container button.btn span {
  font-size: 12px;
  padding: 10px 0 0 10px !important;
}

.region-sidebar-left h2, 
.region-sidebar-right h2,
.region-content h2  {
  font-size: 1.5em;
}
/*************** Main Content Search and Footer Block Start *******************/

.form-item-search-block-form {
  clear:left;
  display:block !important;
}

.form-item-search-block-form .form-text{
  width:146px;
  margin-top:10px;
  height: 36px;
  padding: 0px 65px 0px 15px;
}
.front form#search-block-form--2 .form-submit {
  padding: 0px;
  position:absolute;
  top:68px;
  left:170px;
}
form#search-block-form .form-submit {
  padding: 0px;
  position:absolute;
  top:68px;
  left:170px;
} 

button.btn span {
   color:#FFFFFF;
  padding: 6px 5px 0px 15px;
  font-size:15px;
  text-transform:uppercase;
  display:inline-block;
}

 /* we're hiring form */
 
textarea#edit-submitted-explanation{ width:90%;}
.form-textarea-wrapper { width: 90%;}

/****** What do i do next ********/

.content-two-thirds .what-do-i-do-next h2 {
  padding-top: 10px;
}
.content-two-thirds .what-do-i-do-next .step {
  padding-bottom: 10px;
  clear: both;
}
.content-two-thirds .what-do-i-do-next .numbers {
  float: left;  
}
.content-two-thirds .what-do-i-do-next .numbers img {
  width: 45px;
  height: auto;
  margin: 10px 5px 0 0;
}
.content-two-thirds .what-do-i-do-next .text {
  float: left;
  width: 80%;
  margin-top: 5px;
}
 
#a12-find-free-signup-sucessfull-form #edit-submit{
  margin-left: -6px !important;
}

.user-info-from-cookie #edit-actions a, #user-account-create-secret-access-key-form a{
  float: left;
  margin-top: 25px;
}

.webform_pager{
  margin-top: 27px;
  float: right;
  font-size: 14px;
  font-family: 'latoreg', Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  position: relative;
  right: 110px;
}

.form_completion_progress, .form_completion {
  float: right;
  margin-top: 22px;
  position: relative;  
  right: -68px;
}

.content-two-thirds .form-item input.password-field, .content-two-thirds .form-item input.password-confirm {
  width: 200px;
}
.content-two-thirds .form-item input.form-checkbox, .content-two-thirds .form-item input.form-radio{
  width: auto;
}

.user-info-from-cookie .form-item-pass-pass1 label, .user-info-from-cookie .form-item-pass-pass2 label{
  width: 42%;
}

.user-info-from-cookie button.btn {
  margin-right:38%;
}
.confirm-parent, .password-parent {
  margin: 1em 0em;
  width:auto;
}
.password-strength, div.password-confirm {
  float:left;
  margin-top:0px;
}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: auto;
  border: 1px solid #B4B4B4;
}

.content-two-thirds .form-item input#edit-captcha-response {
  width: auto;
}
.content-two-thirds .form-item input#edit-name, .content-two-thirds .form-item input#edit-mail, .content-two-thirds .form-item input#edit-conf-mail {
  width:240px;
}

#user-account-create-secret-access-key-form #edit-key-name, #user-account-create-secret-access-key-form #edit-user-system-token{
  width:244px;
}
#user-account-create-secret-access-key-form .form-submit span, #user-billing-info .form-submit.btn span {font-size:12px;}

.transfer-slider .transfer-slider-container { 
  width: 256px;
}

#a12-find-price-calculator-form .transfer-slider.container-inline {
  background-size: 255px 75px; 
  padding-left: 20px;
}

/******** A12 Free trial Active & Inactive **********/

#user-account-a12-find-free-signup-sucessfull-form .form-submit {
  margin-left: 0px;
}

#edit-a12-find-free-signup-access-key label, #edit-a12-find-free-signup-index-key label, #edit-a12-find-free-signup-access-index-key label, #edit-a12-find-free-signup-index-activated label{
  float: left;
  margin-right: 30px;
  width: 80%;
}
#webform-client-form-104 input.form-text {
width: 70%;
}
#user-profile-form #edit-actions { width: 70% !important;}

/*.samplesitestable .views-field-field-project-date{
  float: left;
  width:100%;
  background-color: #999999;
  color:#FFFFFF;
  font-size: 14px;
}*/

.like_us_facebook img, .like_us_twitter img {
  height:auto;
}

.page-user-user-info .avatar {  
  margin-right: 10px;
}

.my_subscriptions_views_field_note .unite_submit { width: 0px;}

.page-a12-indexes-manage-indexes .content-two-thirds table { font-size: 12px;}

.form-item-files-picture-upload { width:100%;}
/* Homepage - main img slider block */
.header_slider { width: 320px; background:transparent none repeat-x 0px 0px;}

#block-views-homepage-main-slider-block,
#block-views-homepage-services-bar-block { 
  max-width:400px; 
  min-width:300px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-clip-horizontal,
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-item {
  height: 150px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-item img { 
  max-width:400px; 
  height: 122px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-prev-horizontal {
    left: 0px;
    top: 0px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-next-horizontal {
    right: 0px;
    top: 0px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-next {
    height: 122px;
    width: 15px;
  background: transparent url(../images/slider-right-arrow.gif) no-repeat 0px 60px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-prev {
    height: 122px;
    width: 15px;
  background: #17A6E2 url(../images/slider-left-arrow.gif) no-repeat 1px 55px;
}
/************** homepage services bar (jcarousel) **************/

#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-container-horizontal {
  height: 80px;
  padding: 10px 15px;
  width: auto;
}

#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item .views-field-title { clear:left;}
#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item .views-field-body { display:none;}
#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item {
  text-align:center;
  height: 80px;
  font-size:12px;
}
#block-views-homepage-services-bar-block .view-content .views-field-field-service-icon {
  float:none;
}
/* interum style. remove when new version added */
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url {
  padding:10px 0px 0px 10px;
  width:290px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url h2 a{
  font-size:1.0em;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .number {
  font-size: 1.5em;
  width:30px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .wrapper {
  width:260px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .wrapper p{
  margin-bottom:7px;
  font-size:12px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url a.page_link {
  margin-left:27px;
  font-size:11px;
}

/**************** Homepage - client logos block *********************/
#block-views-client-logos-homepage-block {
	width: 100%;
}
#block-views-client-logos-homepage-block img {
  /*width: 100%;
  height:70px; */ 
}
/**************** Homepage - blogs block *********************/
#block-views-latest-blog-block {
	width: 100%;
  padding: 0px 10px 0px 0px;
	clear:left;

 }

/**************** Footer region *********************/
#Footer h2 {  font-size:1.2em;}

/**************** services / gcloud services landing page *********************/

.servicesGrid .view-content .views-row .wrap { width:270px; }
.servicesGrid .views-row-odd { margin-right: 10%;}

/*-----------------------------Footer region-------------------------*/
#Footer h2 {  font-size:1.1em;}


/**************** team listing page *********************/

#team_listing .views-row {
  width: 94%; 
  float:left; 
  margin-right:40px;
  min-height:400px;
  position:relative;
}
#team_listing .views-row-odd { clear:left;}
#team_listing .views-row .teamwrap { height:240px; padding-bottom: 35px;}
#team_listing .views-row .teamwrap .body { height:160px;}

.m5 img { width: 100%;}
#md1 .field-item div { float: left !important;}
.view-id-samplesites .caption { width: 260px;}
.not-front #Content .content-two-thirds { width: 100%; padding: 0;}

/************** Portfolio item **************/

.portfolio_item .field-name-field-client { float:left; margin-top:0px; width:94%;}
.region-slide-shows {
  max-width: 320px;
}
