@CHARSET "UTF-8";

#Footer, #Content, #Branding, #Footer_Top {
  margin: auto;
  max-width: 960px;
  width: 100% !important;
}
#Content .content-one-third-left{
  width: 100%;
  max-width: 280px;
  float: left;
}

#Content .content-one-third-right{
  width: 100%;
  max-width: 273px;
  float: left;
  padding: 0px 10px 0px 30px;
} 
#Content .content-two-thirds{
  width: 100%;
  max-width: 627px;
  float: left;  
  padding: 0px 10px;
}

/* ----------- Black round box and secondary navigation Start ------------ */

#header-wrapper,#Footer, #Content, #Branding, #Footer_Top, 
#content-wrapper, #footer-top-wrapper, #footer-wrapper,
#footer-bottom-wrapper {
  margin: auto;
  min-width: 960px;
  width: 100%;
}

.round_block_box {
  display: block;
  margin-top: 0;
}

.next_prev{
  display: block;
}

div.ddblock-cycle-upright30p div.slider-inner{
  height: 402px;
}
/* ----------- Black round box and secondary navigation End ------------ */


/* ----------- Search and Newsletter Start ------------ */

.front .search-block-form-other form, 
.front .simplenews-block-form form{
  /* width: 66px;*/
  width: 280px;
}

/*.front .search-block-form-other form .form-submit, .front .simplenews-block-form form .form-submit{
  float: none;
  margin-left: 0;
}*/
/* ----------- Search and Newsletter End ------------ */

/* ---------- Footer Some of our Latest News Start ----------- */
.view-some-of-our-latest-news .view-content table td.col-first {
  padding: 0px 20px 0px 0px !important;
}
.view-some-of-our-latest-news .view-content table td{
  min-width: 280px;
  max-width: 280px; 
  /*background: url('../images/news-verticalRule.png') repeat-y scroll 100% 0 transparent;*/
  display: block;
  float: left;
  padding: 0 30px;
}
.view-some-of-our-latest-news .view-content table td.col-last{
  padding: 0px 0px 0px 20px;
}

/* ---------- Footer Some of our Latest News End ----------- */

/* ---------- Footer Search and Career, ...  Start ----------- */

#Footer .footer-one-third { margin:35px 0px 20px 0px;}

#Footer .footer-one-third.first {
  display: block;
  min-width: 280px;  
  max-width: 280px;
  width: 100%;
  padding: 0px 20px;
  margin: 35px 0px 20px 0px;
}

#Footer .footer-one-third.second {
  display: block;
  min-width: 280px;  
  max-width: 280px;
  width: 100%;
  padding: 0px 20px;
  margin: 25px 0 20px;
}

#Footer .footer-one-third.third{
  width: 100%; 
  float: left;  
  min-width: 280px;  
  max-width: 280px; 
  margin:35px 0px 20px 0px; 
  background: url('../images/footerBg-verticalRule.gif') repeat-y scroll 0 100% transparent !important;
  padding: 0 20px; 
}
.footer-one-third .region .block { padding: 15px 0px 8px 0px; }

.block-get-in-touch {margin: 0px 25px;}

#primary-menu-repeat {
  width:42%;
}
.bsiLogo {
  float:left;
  padding-left:3em;
	clear:none;
}
.block-our-partners {float: right; padding: 0px 10px;}


/*.block-stay-connected .social-links a img {width: 140px !important;}*/

.on-map{
  float: right;
  left: auto;
}
/* ---------- Footer Search and Career, ... End ----------- */

#Content .content-two-thirds .region{
  padding-left: 0;
  padding-right: 0;
}

.samplesitestable .views-field-body{
  padding: 30px;
  width: 84.3%;
}

/* Contact Form */
.content-two-thirds .form-item input{
  font-family: 'latolight', Arial, Helvetica, sans-serif;
  width: 90%;
}

/*.view-services-view img {
  width: 95.7% !important;
}*/
/* Homepage - main img slider block */
.header_slider { width: 100%; background:transparent url(../images/top_blue_banner.png) repeat-x 0px 0px;}

#block-views-homepage-main-slider-block,
#block-views-homepage-services-bar-block { 
  max-width:960px; 
  min-width:960px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-clip-horizontal,
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-item {
  height: 266px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-item img { 
  max-width:960px; 
  height: 266px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-prev-horizontal {
    left: 0px;
    top: 120px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-next-horizontal {
    right: 0px;
    top: 120px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-next {
  background: transparent url(../images/slider-right-arrow.gif) no-repeat 0px 0px;
    display: block;
    height: 32px;
    width: 13px;
}
#block-views-homepage-main-slider-block .jcarousel-skin-default .jcarousel-prev {
    background: transparent url(../images/slider-left-arrow.gif) no-repeat 0px 0px;
    display: block;
    height: 32px;
    width: 13px;
}
/************** homepage services bar (jcarousel) **************/

#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-container-horizontal {
    height: 58px;
    padding: 20px 10px;
}
#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item { 
  text-align:left; 
  height: 78px;
  font-size:14px;
}
#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item .views-field-title { clear:none;}
#block-views-homepage-services-bar-block .jcarousel-skin-default .jcarousel-item .views-field-body { display:block;}
#block-views-homepage-services-bar-block .view-content .views-field-field-service-icon {
  float:left;
}
/* interum style. remove when new version added */
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url {
  padding:50px 0px 0px 100px;
  width:550px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url h2 a{
  font-size:1.4em;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .number {
  font-size: 3.5em;
  width:60px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .wrapper {
  width:400px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url .wrapper p{
  margin-bottom:15px;
  font-size:14px;
}
#block-views-homepage-main-slider-block .jcarousel-item .views-field-field-url a.page_link {
  margin-left:57px;
  font-size:14px;
}

.front #Content .content-one-third-left{
  max-width: 280px;
  margin-top:40px;
  padding: 0px 20px;
  background: none;
}

.front #Content .content-two-thirds {
  max-width: 280px;
  padding: 0px 20px;
  margin-top:40px;
  background: transparent url("../images/border_lines_front.gif") repeat-y 0px 0px;
}

.front #Content .content-one-third-right {
  max-width: 280px;
  margin-top:40px;
  padding: 0px 20px;
  background: url("../images/border_lines_front.gif") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}

.not-front #Content .content-two-thirds {
  background: transparent url("../images/border_lines.gif") repeat-y right top;
  padding:0px 10px 0px 10px;
}
/******* our work page column overside *******/
.page-portfolio #Content .content-two-thirds,
.page-our-team #Content .content-two-thirds { max-width:100% !important;}

.not-front.page-portfolio #Content .content-two-thirds,
.not-front.page-our-team #Content .content-two-thirds { background-image:none;}

#Branding #MmOtherLinks li{
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background-image:none;
  height:28px;
  padding-right:10px;
  padding-top: 0px;
  background: rgb(98,181,222); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(98,181,222,1) 0%, rgba(51,153,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,181,222,1)), color-stop(100%,rgba(51,153,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(98,181,222,1) 0%,rgba(51,153,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(98,181,222,1) 0%,rgba(51,153,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(98,181,222,1) 0%,rgba(51,153,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(98,181,222,1) 0%,rgba(51,153,204,1) 100%); /* W3C */
}

#MmOtherLinks .mmLogin {
  color:#FFFFFF;
  padding: 8px 5px 0px 15px;
  text-align:left;
}

ul#MmOtherLinks {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
}

#Logo img{ width: auto;}
#Branding .mmLoginText { 
  font-size:20px;
  padding-top:66px;
  margin: 0px 0px 0px 20px;
  clear:none;
}
#MenuWrapper_full_width{ display:block;}
#MainMenuStack{ display:none;}

.slider_text_content{ padding-top: 80px;}

.current_slider_counter{ font-size:97px; padding-right:20px; width:auto; margin-top: -26px;}
.current_slider_title{ font-size:25px;width:100%; float:none; margin-top: 0px;}
.current_slider_body{ font-size:15px; height: 70px;}

.view-some-of-our-latest-news .view-content table td.col-first{ background: url('../images/news-verticalRule.png') repeat-y scroll 100% 0 transparent;}
.view-some-of-our-latest-news .view-content table td.col-last{ background: url('../images/news-verticalRule.png') repeat-y scroll 0 100% transparent;}

div.ddblock-cycle-upright40p div.custom-pager{ background: url("../images/slider_border_left.png") repeat-y left, url("../images/slider_border_right.png") repeat-y right;}
div.ddblock-cycle-upright40p div.custom-pager{
  max-width: 300px;
  min-width: 300px;
}
div.ddblock-cycle-upright40p div.custom-pager a{ min-width:300px; width:auto;}
div.ddblock-cycle-upright40p div.custom-pager a.activeSlide{min-width:291px;}
.loginForm .textInput{ 
  border: 1px solid #CCCCCC;
    -webkit-border-radius: 22px;
  border-radius: 22px; 
    height: 32px;
    padding: 0 10px 0 15px;
    width: 249px;
  background-image:none;
  color:#ABABAB;
  background-color:#FFF;
}
.loginForm h2 { margin-bottom:0px; padding-bottom:5px;}
.m3{ float:none;margin: -1px 0px 2px;}
#stack{ display:none}
.loginForm .noMargin{ display:block}

.contentMax, .contentArea, #Showcase, #Slides{ width:938px;}
.clientFormTitle{ margin-top: 15px;}
.contentArea{ padding-top: 10px;}
#ContentPanel .closeBtn {margin: 10px; height: 30px;}
/*.samplesitestable .views-field-field-image{ border:2px solid #D6D6D6; width: 94%;}*/

#Content .content-one-third-right {  padding: 0 10px 0 30px;}

h1.headline {  padding-left: 0;}

.divider-image {
  height: 125px;
  min-height: auto;
  background-size: 100% 100%;
  margin-bottom: 20px;
}

.content-two-thirds .field-name-body #divider-icon p {  margin: 10px 0;}

.content-two-thirds .field-name-body #divider-icon {  display: block;}

.breadcrumb {  padding: 2px 0px 0px 1px;}

#divider-icon { display:block;}

/*** Styles for A12 Find Features table ***/

#find-features th {
   border-left: 0px solid #FFFFFF !important;
}
#find-features th.last {
   padding-left:18px;
}
#find-features td {
   vertical-align: top;
}
#find-features .firstcell {
   font-size: 24px;
   text-shadow: 0 0 10px #FFFFFF;
   color: #006D9A;
}
#find-features-buttons {
  margin-top: 22px;
}
#find-features-buttons div {
   display: inline;
   width: 45%;
   margin-right: 20px;
}
#find-features-buttons div button {
   margin-left: 0px;
}
#find-features-buttons div p {
   color: #006D9A;
   text-shadow: none;
}
.page-a12-indexes-create-index #find-features-free-trial div p,
.page-user-create-secret-access-key #find-features-free-trial div p {
   margin-top: 6px;
}
.page-user-create-secret-access-key .form-item-user-system-token {
  margin-bottom: 40px;
}
.node-type-page #find-features-buttons div p {
  margin-top: 0px;
}
#find-features-free-trial {
  float: left;
}
#find-features-full-version {
  float: right;
}

.suporttable th { 
  text-align:center;
  vertical-align:top;
}

.suporttable td p, .suporttable th p{
  text-align: left;
}
.suporttable .tablehead .firstcell p{
  float:left;
}
.suporttable tr.tablehead th p {
  font-size: 15px;
}
/***********support-packages*************/
.support-packages .firstcell { 
  width:155px !important;
}
/***********training-main*************/
.training-main .firstcell { 
  width:115px !important;
}
.training-main .description { 
  width:195px !important;
}
.training-main .duration { 
  width:70px !important;
}
.training-main .dates { 
  width:105px !important;
}
/***********find*************/
.support_form_container button.btn span {
  font-size: 16px;
  padding: 10px 12px 0 22px !important;
}
.find {
  margin-top:10px;
  margin-bottom:10px;
}

.find .firstcell { 
  width:80px !important;
}
.find tr.tablehead th p {
  font-size: 23px;
}

.front #block-views-some-of-our-latest-news-block .view-header { margin-top: -26px;}

/*************** Main Content Search and Footer Block Start *******************/

.front form#search-block-form--2 {} /* front content */
form#search-block-form {} /* rightbar */
form#search-block-form--2 {} /* not front footer */
form#search-block-form--3 {} /* front footer */

.form-item-search-block-form {
  clear:left;
  display:block !important;
}

.form-item-search-block-form .form-text{
  width:190px;
  margin-top:10px;
  height: 36px;
  padding: 0px 65px 0px 15px;
}
form#search-block-form .form-item-search-block-form .form-text {
  width:153px;
}
.front form#search-block-form--2 .form-submit,
form#search-block-form--3 .form-submit,
form#search-block-form--2 .form-submit {
  padding: 0px;
  position:absolute;
  top:67px;
  left:214px;
} 
form#search-block-form .form-submit {
  padding: 0px;
  position:absolute;
  top:67px;
  left:177px;
}


/* end */

.region-sidebar-left h2, 
.region-sidebar-right h2,
.region-content h2 {
  font-size: 1.5em;
}

div.ddblock-cycle-upright40p a.slide_go_btn img {
  display: block;
  width: auto !important;
  height: auto !important;
}

button.btn span {
   color:#FFFFFF;
  padding: 6px 5px 0px 15px;
  font-size:15px;
  text-transform:uppercase;
  display:inline-block;
}

/*.samplesitestable .views-field-field-project-date { width:94.5%;}*/

#MainMenu {  right: 10px !important;}


.transfer-slider .transfer-slider-container { width: 552px;}

#a12-find-price-calculator-form .transfer-slider.container-inline {
  background-size: 554px 62px !important;
  padding-left: 22px;
}
.content-two-thirds .what-do-i-do-next .numbers img {
  width: 105px;
  height: auto;
  margin: 10px 10px 0 0;
}

#user-profile-form #edit-actions{  width:50% !important;}

.password-strength, div.password-confirm{  float: right;  margin-right: 178px;  width: 175px;}

#user-account-create-secret-access-key-form #edit-key-name, #user-account-create-secret-access-key-form #edit-user-system-token{ width:65%;}
div.form-item div.password-suggestions, 
.content-two-thirds .form-item input#edit-name, 
.content-two-thirds .form-item input#edit-mail, 
.content-two-thirds .form-item input#edit-conf-mail{ 
  width:69%;
}

#edit-a12-find-free-signup-access-key label, #edit-a12-find-free-signup-index-key label,
#edit-a12-find-free-signup-access-index-key label, #edit-a12-find-free-signup-index-activated label {  width: 90%;}

#find-features-free-trial button.btn span, #find-features-full-version button.btn span, #user-account-create-secret-access-key-form .form-submit span{ font-size:16px;}

#user-profile-form #edit-profile-personal-information-field-email-address label, 
#user-profile-form .form-item-profile-personal-information-is-company-company-registration-no label{ width: auto;} 

 /* we're hiring form */
 
textarea#edit-submitted-explanation{ width: 570px;}
.form-textarea-wrapper { width: 570px;}


/******* Homepage - client logos block *******/
#block-views-client-logos-homepage-block {
    margin: 0px 0px 20px 0px;
    max-width: 275px;
    min-width: 275px;
    padding: 0px 20px 0px 0px;
    width: 100%;
 }
#block-views-client-logos-homepage-block img {
  /*width: 100%;
  height:86px;*/  
}
  
/******* Homepage - blogs block *******/
#block-views-latest-blog-block {
    margin: 0px 0px 20px 0px;
    max-width: 265px;
    min-width: 265px;
    padding: 0px 0px 0px 30px;
    width: 100%;
 }

/******* portfolio page view (samplesites) *******/

.view-id-samplesites ul li.views-row-4,
.view-id-samplesites ul li.views-row-7,
.view-id-samplesites ul li.views-row-10  {
  clear:left;
}
.view-id-samplesites ul li.views-row-3,
.view-id-samplesites ul li.views-row-5,
.view-id-samplesites ul li.views-row-9,
.view-id-samplesites ul li.views-row-11  {
  clear:none;
}

/**************** Footer region *********************/
#Footer h2 {  font-size:1.2em;}


/**************** services / gcloud services landing page *********************/

.servicesGrid .view-content .views-row .wrap { width:225px;}
.servicesGrid .views-row-odd { margin-right: 4%;}

.view-id-samplesites .caption { width: 285px;}

/**************** team listing page *********************/

#team_listing .views-row {
  width: 212px; 
  float:left; 
  margin-right:20px;
  min-height:500px;
  position:relative;
}
#team_listing .views-row-odd { clear:none;}
#team_listing .views-row .teamwrap {  height:380px;}
#team_listing .views-row .teamwrap .body { height:300px;}

/************** Portfolio item **************/

.portfolio_item .field-name-field-client { width:44%; margin-top:20px;}
.portfolio_item .field-name-field-technology,
.portfolio_item .field-name-field-project-date,
.portfolio_item .field-name-field-website-url,
.portfolio_item .field-name-field-other-text,
.portfolio_item .field-name-field-project-name { float:left; width:44%; }

.region-slide-shows {
  max-width: 960px;
}
