/***************************** START: ATW-101 Price Calculator**********************/

#a12-find-price-calculator-form .no-of-daily-views .transfer-slider.container-inline {
  background: url('../images/price_calculator/no-of-daily-views.png') transparent no-repeat;
}
#a12-find-price-calculator-form .no-of-daily-requests .transfer-slider.container-inline {
  background: url('../images/price_calculator/no-of-daily-requests.png') transparent no-repeat;
}
#a12-find-price-calculator-form .no-of-daily-indexed-pages .transfer-slider.container-inline {
  background: url('../images/price_calculator/no-of-daily-changes.png') transparent no-repeat;
}
#a12-find-price-calculator-form .size-of-daily-indexed-pages .transfer-slider.container-inline {
  background: url('../images/price_calculator/size-of-daily-indexed-pages.png') transparent no-repeat;
}
#a12-find-price-calculator-form .no-of-daily-indexed-attachments .transfer-slider.container-inline {
  background: url('../images/price_calculator/no-of-daily-indexed-attachments.png') transparent no-repeat;
}
#a12-find-price-calculator-form .size-of-daily-indexed-attachments .transfer-slider.container-inline {
  background: url('../images/price_calculator/size-of-daily-indexed-attachments.png') transparent no-repeat;
}
#a12-find-price-calculator-form .no-of-batch-per-day .transfer-slider.container-inline {
  background: url('../images/price_calculator/no-of-batches-per-day.png') transparent no-repeat;
}
#a12-find-price-calculator-form .transfer-slider.container-inline {
  background-size: 255px 62px;
  background-position: 35px 17px !important;
  height: 75px !important;
	background-color: #F5F5F5 !important;
  padding: 13px 0px;
  padding-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #E3E3E3;
}

#a12-find-price-calculator-form table.price-calculator th.firstcell, table.price-calculator td.firstcell {
  vertical-align: top;
  text-align: left;
	padding-left: 10px;
}
#a12-find-price-calculator-form table.price-calculator th.middlecell, table.price-calculator td.middlecell {
  vertical-align: top;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 190px;
}
#a12-find-price-calculator-form table.price-calculator th.lastcell, table.price-calculator td.lastcell {
  vertical-align: top;
  text-align: right;
  padding-right: 30px;
  width: 140px;
}

.facets, .mlt{ padding-bottom: 20px; }

.transfer-slider .transfer-slider-container { width: 256px;  margin: 10px 11px 10px 14px;  border-radius: 0px !important; }

.transfer-slider .ui-slider { border: 0px !important; }

.ui-slider-horizontal { 
	height: 11px !important; 
	background: #C3DEFF !important; 
	border-color: #4A4A4A;
}

.ui-slider-horizontal .ui-slider-handle { 
	background: transparent url(../images/price_calculator/slider-handle.gif) no-repeat 0 0; 
	height: 18px; 
	margin-left: -13px; 
	top: -4px !important; 
	width: 27px; 
}
margin-left: 5px; }
.price-cal-search-title, .price-cal-indexing-title{ color: #277291; font-size: 20px; display: inline-table; width: 100%; }

.price-cal-indexing-title{ margin-top: 20px; }

.facets input.form-radio, .mlt input.form-radio { vertical-align: top !important; }

.facets .form-type-radios label .facets-title, .mlt .form-type-radios label .facets-title { width: 70%; float: left; font-weight: normal; }

.facets div.form-radios, .mlt div.form-radios { display: inline; width: 25%; }

.facets div.form-radios .form-type-radio, .mlt div.form-radios .form-type-radio{ width: 15%; display: inline-block; float: left; }

#a12-find-price-calculator-form button#edit-submit { float:right; margin-bottom: 20px;}

#a12-find-price-calculator-form .facets-title {
	font-weight: normal;
}

/***************************** END: ATW-101 Price Calculator**********************

@media all and (min-width: 481px) and (min-device-width: 481px), all and (max-device-width: 768px) and (min-width: 768px) and (orientation:portrait) {
.transfer-slider .transfer-slider-container { width: 441px;}

#a12-find-price-calculator-form .transfer-slider.container-inline {
	background-size: 442px 54px;
	padding-left: 22px;
}
}


@media all and (min-width: 769px) and (min-device-width: 769px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape) {
.transfer-slider .transfer-slider-container { width: 552px;}

#a12-find-price-calculator-form .transfer-slider.container-inline {
  background-size: 554px 62px !important;
  padding-left: 22px;
}
}
*/
