#a12-customer-manage-subscription-form{
  border: 1px solid #CCCCCC;
  padding: 20px 0 20px 14px;
  width: 50% !important;
}

#a12-customer-manage-subscription-form .cust_label{
  display: block;
  font-weight: bold;
  width:250px;
  float: left;
}

#a12-customer-manage-subscription-form .cust_value{
  padding-bottom: 10px;
}

#a12-customer-manage-subscription-form .form-item label{
  display: inline !important;
  font-weight: bold;
  float: left;
  width: 250px;
}

#a12-customer-manage-subscription-form input#edit-submit{
  background: #88CD45;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF !important;
  font-weight: bold;
  height: auto !important;
  line-height: 21px;
  padding: 5px 15px;
  text-align: center;
  width: auto !important;
  text-shadow: 0 0 3px #333333;
  border-color: transparent;
  font-size: 12px;
}

#a12-customer-manage-subscription-form input#edit-submit:hover{
  background-color: #61A931;
}
