/*
 * Dynamic display block module template (Drupal 7): upright40p - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology, 2011. All rights reserved.
 * Version 1.0 ( 21-JAN-2011 )
 * Licenced under GPL license
 * http://www.gnu.org/licenses/gpl.html
 */
div.ddblock-cycle-upright40p div.container{background-color:none;width:100%;}
div.ddblock-cycle-upright40p div.container-inner{position:relative;}

/*div.ddblock-cycle-upright40p div.slider{float:right; width: 100%; max-width: 280px; min-width: 280px;padding-top:60px;}*/
div.ddblock-cycle-upright40p div.slider-inner{background: none !important;height: 415px;/*overflow:hidden;*/ position:relative; visibility:hidden;  
/*width: 310px;*/}
div.ddblock-cycle-upright40p div.slider-inner .slide{background: none repeat scroll 0 0 transparent !important;}
div.ddblock-cycle-upright40p div.slide{display:none;height:100%;left:0;position:absolute;top:0;}
div.ddblock-cycle-upright40p div.slide-inner img{margin:0 !important;padding:0 !important;float: left; border: 8px solid #FFFFFF;}
div.ddblock-cycle-upright40p div.slide-text{background: none;position:relative;}
div.ddblock-cycle-upright40p div.slide-text-horizontal{display: inline-block;font-size: 10px;/*width: 280px;*/}
div.ddblock-cycle-upright40p div.slide-text-inner{padding-top:10px;}
div.ddblock-cycle-upright40p div.slide-title{float:left;}
div.ddblock-cycle-upright40p div.slide-title-vertical{width:130px;}
div.ddblock-cycle-upright40p div.slide-title-horizontal{float:left;}
div.ddblock-cycle-upright40p div.slide-title h2{color:#000000!important;margin:-5px 0 0 0;padding:0;}
div.ddblock-cycle-upright40p div.slide-title h2 a{color:#595959!important;text-decoration:none;font-size: 13px;font-weight: bold;}

div.block-ddblock h2{color: #00B2E3 !important; font-weight: bold;float: left; width: auto;  font-size: 1.5em;}
div.block-ddblock div.slide-inner h2 {color: #575759 !important;}
div.block-ddblock div.slide-inner h2 a{color: #575759 !important;}

div.ddblock-cycle-upright40p div.slide-title-inner{color:white;font-weight:bold;}
div.ddblock-cycle-upright40p div.slide-body-vertical{width:132px;}
div.ddblock-cycle-upright40p div.slide-body-horizontal{float:left;width:290px;}
div.ddblock-cycle-upright40p div.slide-body-inner{color:white;}
div.ddblock-cycle-upright40p div.slide-body-inner p{margin:0 8px 0 0;padding:0;}
div.ddblock-cycle-upright40p div.slide-text strong, div.ddblock-cycle-upright40p div.slide-text p{color: #595959;font-size: 13px;font-weight: normal; line-height: 18px;}

.view-some-of-our-latest-news .views-field-nothing a, div.ddblock-cycle-upright40p div.slide-read-more a{color:#595959;font-size: 13px;font-weight:bold;}
	
div.ddblock-cycle-upright40p div.custom-pager{
/*float:left;*/
width: 100%; 
/*max-width: 300px;
min-width: 300px;*/

padding-top:30px;  
/*background: url("images/slider_border_left.png") repeat-y left, url("images/slider_border_right.png") repeat-y right;*/
}

div.ddblock-cycle-upright40p div.custom-pager h2 {
	color: #1991D9 !important; 
	/*font-size: 20px;*/
	width: 100%;
	text-align: center;
}
div.ddblock-cycle-upright40p div.custom-pager .custom-pager-item{background-color: #FFFFFF !important;
  float: left; 
  background: url("images/slider_divider_bg.png") repeat-x scroll 0 bottom #FFFFFF;
  margin-left: 1px;
  width: 98%;
}

div.ddblock-cycle-upright40p div.custom-pager a{
  /*background-color: #FFFFFF; */
  background-size: 285px 55px;
  color: #575759;
  display:block;
  float:left;
  font-size:14px;
  font-weight:bold;
  opacity:1;
  text-decoration:none;
  padding: 10px 0px;
  text-align: center;
  /*min-width:300px;*/
  margin-bottom: 2px; 
  text-transform:capitalize;
  font-family: Lato;
  letter-spacing: 0.02em; 
}

div.ddblock-cycle-upright40p div.custom-pager a.activeSlide{
  background: url("../../../../images/home_sldr_bg.png") !important;   
  color:#FFFFFF;
  font-size: 14px;
  font-weight:lighter;
  padding: 10px 0px;
  text-align: center;
  text-transform:capitalize;
  opacity:1;  
  margin: 3px 3px 5px !important;
  /*min-width: 291px;*/
}

div.ddblock-cycle-upright40p div.custom-pager a.activeSlide:hover{
	 background: url("../../../../images/home_sldr_bg.png") !important;  color:#FFFFFF;font-size: 14px;font-weight:lighter;padding: 10px 0px;text-align: center;text-transform:capitalize; opacity:1;}

/*div.ddblock-cycle-upright40p div.custom-pager a:hover{background: url("../../../../images/homepage/home_sldr_bg.png") !important; color:#404040;opacity:1;}*/
div.ddblock-cycle-upright40p div.custom-pager a:focus{outline:none;}
div.ddblock-cycle-upright40p div.custom-pager img{border:none;height:40px;margin:0 !important;padding:0 !important;vertical-align:middle;width:260px;}
div.ddblock-cycle-upright40p div.slide_more_btn a{background: none repeat scroll 0 0 transparent !important; margin-top: 15px;}
div.ddblock-cycle-upright40p div.slide_more_btn img{width: 118px; height: 30px;margin: 20px 0px 0px 60px;}

/* Portfolio Slider */
.slide_go_btn img{
  border: 0 !important;
  position: absolute;
  right: 0;
}

div.ddblock-cycle-upright40p a.slide_go_btn {
    float: right;
    position: relative;
    top: 99px;
}
div.ddblock-cycle-upright40p a.slide_go_btn img {display:none; width:auto !important; height:auto !important;}
