/* stylesheet for user account */

/* start - style defiend for product_control_panel_page */
.account-info {
  float:left;
  width:49%;
  /*margin:10px 5px;*/
  margin:0px;
  border-bottom:2px solid #E9E9E9;
  padding:10px 0px; /*LH20110630*/
  min-height: 90px; /*LH20110629*/
}
.account-page .user_information, .account-page .my_access_keys{margin-right: 14px;}
/* end - style defiend for product_control_panel_page */

/* start - style defiend for product_control_panel_page */
.panel-info {
  float:left;
  width:75%;
  margin:10px 5px;
  border-bottom:2px solid #E9E9E9;
  padding:10px 0px; /*LH20110629*/
  
}
.panel-info .panel-info-image {
  float:left;
  margin-right:10px;  
}
/* end - style defiend for product_control_panel_page */
