/* Element style */
.transfer-slider {
  clear: both;
}

.transfer-slider > div {
  float: left;
}

.transfer-slider .slider_title {
  float: left;
  width: 100%;
}


/* Slider style */
.transfer-slider .ui-slider {
	border: 1px solid #d3d3d3;
}

.transfer-slider input.form-text{
  width: 60px !important;
}



